---
layout: default
published: true
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    {{ page.date | date: "%d/%m/%Y" }}
    <br/>
    {% if page.license == "ccbysa" %}
      <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Licencia de Creative Commons" style="border-width:0; display: inline;" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" /></a>
    {% else %}
      <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Licencia de Creative Commons" style="border-width:0; display: inline;" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a>
    {% endif %}
  </div>
  
  <h2>¿Qué opinas?</h2>
  {% include disqus.html %}
</article>
